:root {
    --main-color: darkblue;
    --secondary-color: white;
    --main-border: 1px solid black;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: var(--secondary-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

img {
    width: 150px;
    height: auto;
    border: var(--main-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 2px solid rgb(0 0 0 / 0.5);
    padding: 1rem;
    background-color: darkgray;
    color: var(--secondary-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: var(--main-border);
    text-align: center;
}